<%- include('./includes/head', {pageTitle:'An error occured'})%>
</head>
<body>

    <%- include('./includes/header') %>
   <main>
<h1>Not authenticated!</h1>
<P>You are not authenticated!</P>
<p><a class="btn-alert" href = "/">Back To Safety</a></p>
</main>
<%- include('./includes/footer') %>
