<%- include('./includes/head', {pageTitle:'An error occured'})%>
</head>
<body>

    <%- include('./includes/header') %>
   <main>
<h1>Something went wrong!</h1>
<P>Unfortunately, something went wrong - please try again later</P>
<p><a class="btn-alert" href = "/">Back To Safety</a></p>
</main>
<%- include('./includes/footer') %>
