<%- include('./includes/head', {pageTitle:'An error occured'})%>
</head>
<body>

    <%- include('./includes/header') %>
   <main>
<h1>Could not find resource</h1>
<P>Unfortunately, we couldn't find the requested resource</P>
<p><a class="btn" href = "/">Back To Safety</a></p>
</main>
<%- include('./includes/footer') %>
