<header id ="main-header">

  
    <div>
      
        <a href="/" class = "logo-main" id = "logo" >
             <img src="/imgs/Logo1.png" width = "70px" alt = "a main logo" class = 'logo-img'/>
            </a>
             <a href="/" class = "logo-text" id = "logo-text" >Nutrition</a>
     <p class = "description">Live Healthy.Look better.</p>
   
    </div>
    <nav>
        <%- include('nav-items') %>
</nav>
<button id = "mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
</button>

</header>
<aside id = "mobile-menu">
    <nav>
        <%- include('nav-items') %>
    </nav>
</aside>
