<%- include('../../shared/includes/head', {pageTitle:'All products'}) %>



<!-- <link rel = "stylesheet" href ="https://fontawesome.com/icons/arrow-right?f=classic&s=solid"> -->

<link rel="stylesheet" href="/styles/products-landing.css">


<script src = "/scripts/swiper.js" defer></script>
       
</head>



<body>
    <%- include('../../shared/includes/header') %>

   <div class = "main">
    <section class = "home-section">
        <div class = "slider">

            <div class = "slider__slider slide1" >
                <h1>New Product</h1>
               
        <div class = "overlay">    </div>
 
        <div class = "slide-detail">
            <h1>Lions Mane</h1>
            
            <p>Boost your memory and cognitive abilities</p>
            <a href="/products" class = "btn-home">Shop Now</a>
            <img src = "imgs/home-img1.png" class= "home-img1">
    
        </div>
        <div class = "hero-dec-top"></div>
        <div class = "hero-dec-bottom"></div>
        
            </div>
        
            <div class = "slider__slider slide2">
                <h1>New Product</h1>
                
                <div class = "overlay"></div>
                <div class = "slide-detail">
                    <h1>Our new men's hair growth supplement</h1>
             
                 
                    <p>Make your hair thicker and shinier with FDA approved formula</p>
                    <a href="/products" class = "btn-home">Shop Now</a>
                    <img src = "imgs/home-img2.png" class= "home-img2">
                </div>
               
                <div class = "hero-dec-top"></div>
                <div class = "hero-dec-bottom"></div>
                
                    </div>
                    <div class = "slider__slider slide3">
                        <h1>New Product</h1>
                        <div class = "overlay">
                           
                        </div>
                        <div class = "slide-detail">
                            <h1>Extra potent vitamin D </h1>
                            <p>10000IU vegan vitamin D</p>
                            <a href="/products" class = "btn-home">Shop Now</a>
                            <img src = "imgs/home-img3.png" class= "home-img3">
                        </div>
                        <div class = "hero-dec-top"></div>
                        <div class = "hero-dec-bottom"></div>
                        
                            </div>

                            <div class = "slider__slider slide4">
                                <h1>New Product</h1>
                                <div class = "overlay"></div>
                                <div class = "slide-detail">
                                    <h1>Brain Support</h1>
                                    <p>New brain support supplement gives you extra focus and energy</p>
                                    <a href="/products" class = "btn-home">Shop Now</a>
                                    <img src = "imgs/home-img4.png" class= "home-img4">
                                </div>
                                <div class = "hero-dec-top"></div>
                                <div class = "hero-dec-bottom"></div>
                                
                                    </div>
                                    <div class = "slider__slider slide5">
                                        <h1>New Product</h1>
                                        <div class = "overlay"></div>
                                        <div class = "slide-detail">
                                            <h1>BCAA plus B vitamins</h1>
                                            <p>BCAA and all the vitamins you need</p>
                                            <a href="/products" class = "btn-home">Shop Now</a>
                                            <img src = "imgs/home-img5.png" class= "home-img5">
                                        </div>
                                        <div class = "hero-dec-top"></div>
                                        <div class = "hero-dec-bottom"></div>
                                        
                                            </div>
        <div class = "left-arrow" ><i class ="bx bxs-left-arrow"></i></div>
        <div class = "right-arrow"><i class = "bx bxs-right-arrow"></i></div>
        
        </div>
    </section>
</div>

<section class = "featured-product">
<h1>Featured Product</h1>
    <div class = "section">
        <h2>Natural male libido enhancer DHEA</h2>
        <div class="article">
         <img src = "imgs/landingpic.png"  class="main-img"/>
       
     
         <div class = "text">
            <p>DHEA (dehydroepiandrosterone) is a hormone that's naturally produced by the adrenal glands. Levels of DHEA naturally drop after age 30.</p>
            <p>A number of studies have found that DHEA supplements may help people with depression, obesity, lupus, and adrenal insufficiency. DHEA may also improve skin in older people and help treat osteoporosis, vaginal atrophy, erectile dysfunction, and some psychological conditions. </p>
            <p>DHEA is used by some people who want to "reverse" aging and boost immunity, cognitive function, and muscle strength. For now, studies don't back up these uses. DHEA has been studied as a treatment for other conditions, ranging from cardiovascular disease to menopause to Alzheimer's.</p>
            <p>Recent analyses for the association between age and ED revealed positive effects for testosterone, DHEA, perceived general health, emotional support, intimacy motivation, and a negative effect for interleukin-6. Higher testosterone and DHEA and lower IL-6 levels buffered against an age-related increase in ED </p>
            <p>DHEA plays an important role in sexual function. Low levels of DHEA were associated with a higher risk for ED in men and low sexual responsiveness in women. It has also been speculated that DHEA plays a role in the process of erection. The Massachusetts Male Aging Study investigated 17 hormones, and DHEAS was the only one inversely correlated to ED prevalence. </p>
         </div>
       
       
         </div>
         <h2 id = "h2-slogan">"Boosts libido!Fast recovery!"</h2>
      </div>
   
    </section>
    


<main class = "trending">



<%- include('../../shared/includes/swiper-section.ejs') %>

</main>



    <%- include('../../shared/includes/footer' ) %>
